- if (config.env === 'production')
  script(src='https://www.googletagmanager.com/gtag/js?id=UA-163753700-1', async='async')
  script.
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date()); gtag('config', 'UA-163753700-1');
