@import './forum-container/styles.styl'
@import './search/styles.styl'
@import './search/results-search/styles.styl'

.jumbotron_body
  padding: 50px 0 !important
  .container
    .lead
      font-size:18px
      margin-top: 5px
      &.highlight
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #ffffff;
        text-shadow: none !important
        max-width: 900px;
        margin: 30px auto;
      span
        color:$main-color
    .participar
      margin-top: 1rem
      margin: 10px;
      background-color: $main-color;
.ext-site-home-multiforum
  background: transparent

  .forums-list
    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding-top: 1em

    .forums-list-title
      text-align: center
      font-weight: 900;
      margin-bottom: 30px
      font-size: 20px;
      letter-spacing: 2px;
      color: #111a34;
      text-transform: uppercase;
      font-family: 'Nunito'

    .forums-list-item
      max-width: 100%
      width: 100%
      margin: 0 10px 20px

      @media (min-width: 992px)
        width: 440px

  .cover
    text-align: center

    h1
      max-width: 500px
      margin: 0 auto .3em

  .arrow-down
    background-size: cover
    background-repeat: no-repeat
    display: inline-block
    margin-top: 0
    margin-right: 3%
    width: 70px
    height: 55px
    margin-bottom:20px
    @media screen and (max-width: 750px)
      width: 40px
      height: 30px
      margin-top:25px

  .lead-paragraph
    margin-top: 2.2em
    margin-bottom: 3.3em;
    text-align: center
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 1.4px;
    color: #000000;
    &.last
      margin-bottom: 0.5em;
      font-weight:bold
      flex-direction:column
      justify-content:center

    .bold {
      font-weight: 400
    }

    .skyblue {
      font-weight: 600;
      color: #77935a;
    }
  .arrow
    text-align:center



  .section-icons
    font-weight:600
    margin-top:20px
    @media (max-width: 760px)
      margin-left:6%
    @media (max-width: 460px)
      margin-left:10px
    .section-icon
      display: inline-block
      @media (max-width: 760px)
        display:flex
        flex-direction:column
      width:30% !important
      .icon
        width:100px
        float: left
      .text
        h5
          text-transform: uppercase;
          font-family: 'Nunito'
          font-weight: 900;
        padding-left: 115px
        @media (max-width: 760px)
          padding-left:10px
        padding-top: 10px
        font-weight: normal
        font-size: 14px
        color: #211917;

  .icon-arrow-down
    font-size: 20px
    color: black
    cursor: pointer

  .content-center
    display: flex;
    align-self: center;

    .btn
    .dropdown-element
    .dropbtn
      min-width:130px
      padding: 5px 25px 5px 25px !important

    .btn-secondary
      background-color: #fff

    .btn-active
      text-underline: none
      color: white
      background-color: $secondary-color !important
      text-transform: none;
      font-size: 16px;
      font-weight: 600;
      padding: 14px 38px;
      &:focus, &:hover
        color: white
        background-color: $secondary-color-hover !important
        outline: none

.dropbtn
  width:150px
  font-size:16px !important
  @media (min-width: 701px)
    display:none

.dropdown-element:hover .dropdown-content
  @media (max-width: 700px)
    display: block

.dropdown-content
  @media (max-width: 700px)
    li
      display:block
      margin-bottom:0

.dropdown-content
  @media (max-width: 700px)
    display: none
    position: absolute
    z-index: 1
    left: -14px
    top: 36px

.dropdown-element
  @media (max-width: 700px)
    position: relative
    display: inline-block

.small-arrow
  font-size:9px !important

.show-more
  height: 50px
